<div class="headStyle">
    <h1>{{companyName}}</h1>
    <input type="text" [value]="companyName">
    <button (click)="changeName()">Change Name</button>
    <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/news" routerLinkActive="active">News</a></li>
        <li><a routerLink="/about1" routerLinkActive="active">About</a></li>
        <li><a routerLink="/template-form" routerLinkActive="active">Template Form</a></li>
        <li><a routerLink="/reactive-form" routerLinkActive="active">Reactive Form</a></li>
        <li><a routerLink="/use-public-api" routerLinkActive="active">Use Public APi</a></li>
        <li><a routerLink="/obser-promise" routerLinkActive="active">Observables/Promise</a></li>
        <li><a routerLink="/dep-ins" routerLinkActive="active">Dependancy Injection</a></li>
        
      </ul>
</div>
