<div class="right-style">
    <h2><b>OVER AUGUST 2023 WITH A MONTH PACKED WITH EVENTS!</b></h2>
    <h3><i>The biggest Pokémon GO event of the year is back, and Trainers can look forward to two gameplay areas in each city!</i></h3>
    <h4>Join with millions of Pokémon GO fans from around the world and get ready for double the adventures, double the exclusive gameplay opportunities, and even some mythical surprises—welcome to Pokémon GO Fest 2023!</h4>
    <h4>List of Available Cities to join the fun :)</h4>
    <ul>
        <li><b>Lodon</b></li>
        <li><b>Osaka</b></li>
        <li><b>New York</b></li>
        <li><b>Hyderabad</b></li>
        <li><b>Dallas</b></li>
        <li><b>Sydney</b></li>
        <li><b>Spain</b></li>
        <li><b>Egypt</b></li>
        <li><b>Delhi</b></li>
    </ul><hr>
    <h2>POKÉMON GO FEST 2023: GLOBAL</h2>
    <h3>There will also be a concluding two-day digital event available to Trainers around the world! Join millions of other Trainers and play from anywhere during this special digital GO Fest 2023 event.</h3>
    <h3><i>Global event tickets are also available now! Global tickets will be available to purchase up until the last day of the event—unlike the in-person events, Trainers don’t need to worry about the global event selling out!</i></h3>
</div>
