<div class="head-style">
    <head>
        <title>Title of the document</title>
    </head>
    <header>
        <nav>
          <ul>
            <li><a routerLink="/home" routerLinkActive="active" >Home</a></li>
            <li><a routerLink="/aboutus" routerLinkActive="active">About Us</a></li>
            <li><a routerLink="/register" routerLinkActive="active" >Register</a></li>
            <li><a routerLink="/form" routerLinkActive="active">Form</a></li>
            <li><a routerLink="/api" routerLinkActive="active">API</a></li>
            <li><a routerLink="/obsprom" routerLinkActive="active">Obserable and Promise</a></li>
            <li><a routerLink="/depenijc" routerLinkActive="active">Dependency Injection</a></li>
          </ul>
        </nav>
        <h1>Pokemon Go Fest 2023...! {{myDate | date:'shortTime'}}</h1>
      </header>
</div>
