<div class="headStyle">
    <h1 style="color: rgb(10, 10, 10);">{{companyName}}</h1>
    <input type="text" [value]='companyName'>
    <button (click)="changeName()">Change Name</button>
    <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/day2" routerLinkActive="active">News</a></li>
        <li><a routerLink="/about-angular" routerLinkActive="active">About</a></li>
        <li><a routerLink="/templates" routerLinkActive="active">Template form</a></li>
        <li><a routerLink="/use-public-api" routerLinkActive="active">Use Public APi</a></li>
        <li><a routerLink="/observable" routerLinkActive="active">Observables</a></li>
        <li><a routerLink="/dep-ins" routerLinkActive="active">Dependancy Injection</a></li>
        <li><a routerLink="/reactive-form" routerLinkActive="active">Reactive forms</a></li>
        <li><a routerLink="/app-subject-explain" routerLinkActive="active">Subject</a></li>
        <li><a routerLink="/app-view-encapsulation" routerLinkActive="active">View Encapsution</a></li>
        <li><a routerLink="/joke-list" routerLinkActive="active">Lifecycle</a></li>

      </ul>
    
</div>
