<div class="bodyClass">
        Angular is an application-design framework and development platform for creating efficient and sophisticated single-page apps. <br/><br/>
        
        declared number in parent and child component is deriving that variable{{connecting}}<br/><br/>
        
        referencing the variable  that is assigned a value {{abc}}<br/><br/>
        exponentvalue<br/>
        <input type="number" [value]='mynum'>
        <button (click)="transform(2,2)">exponent value</button><br/><br/>
        

    


</div>
