.bodyClass{
    width: 100%;
    height: 500px;
    background-color: grey;

}
.test{
    width: 25px;
    height: 25px;
    background-color: blue;
}
.test2{
    width:10px;
    height:15px;
    background-color: red;
}