<div class="headStyle">
    <h1>Bhagi Fitness</h1>
    <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/contactus"routerLinkActive="active">Contact Us</a></li>
        <li><a href="#about">About</a></li>
        <li><a routerLink="/Formtemplate" routerLinkActive="active">Form</a></li>
        <li><a routerLink="/apitemplate" routerLinkActive="active">API</a></li>
        <li><a routerLink="/obs" routerLinkActive="active">Observables</a></li>
        <li><a routerLink="/depenijc" routerLinkActive="active">dependency-injection</a></li>
        <li><a routerLink="/reactiveform" routerLinkActive="active">App-Routing</a></li>
        <li><a routerLink="/subject" routerLinkActive="active">Subject</a></li>
        <li><a routerLink="/encapsulation" routerLinkActive="active">Encapsulation</a></li>
        <li><a routerLink="/jokelist" routerLinkActive="active">Jokelist</a></li>





      </ul>
</div>

