<div class="bodyClass">
    <h3>LOCATIONS</h3>
        Las Colinas, TX
7600 N. MacArthur Blvd. #140
Irving<br> TX 75063<br>
Contact Number :9724740404<br><br>
    <br>Coppell, TX
    240 N. Denton Tap Road Suite 440
    Coppell<br>
    TX 75019<br>
    Contact Number :2143009983
    <br><br><br>
    4271 Esplanade Pl #100, Flower Mound<br> TX 75028
    <br>Contact Number :9321039021<br>
    <br><br>
    <input type ="text" [value]="UserName">
    <button (click)="changeName()" >change Name</button>
    </div>
    <br/>
    <button (click)="PassData()">Send Data from child to parent</button>